

body
{
    width:80%;
    margin-left:auto;
    margin-right:auto;
    font-size:18px;
}



.panel-heading
{
    background: #39393d;
    color: #fff;
    padding: 10px 15px;
}

.addpanel
{
    width:50%;
    margin-right:25%;
    margin-left:25%;
    background-color:#39393d;
    color: #fff;
    padding: 10px 15px;
}

.btn-panel
{
    background-color: #a188f3;
    color:white;
    font-size: 15px;
    line-height: 15px;
    padding: 4px 7px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 3px;
    margin: 0 5px;
    border:none;
}

.btn-panel-big
{
    background-color: #a188f3;
    color:white;
    font-size: 15px;
    line-height: 15px;
    padding: 4px 7px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 3px;
    margin: 0 5px;
    border:none;
}

.task .action-checkbox
{
    float: left;
    width: 20px;
    display: block;
    line-height: 21px;
}

input[type=checkbox]:checked + span{
    text-decoration: line-through;
}


.task
{
    padding: 8px 0;
    position: relative;
    background: #f5eded;
    margin: auto;
    padding-left: 10px;
    padding-right: 15px;

}

#delbut
{
    background-color: #f3002e;
    color:white;
    font-size: 10px;
    line-height: 10px;
    padding: 4px 7px;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 3px;
    margin: 0 5px;
    border:none;
}
#addnw
{
    padding: 8px 0;
    position: relative;
    background: #f5eded;
    margin: auto;
    padding-left: 10px;
    padding-right: 15px;

}




