<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html ng-app="MyTodoApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>TODO list</title>
    <script data-require="angular.js" data-semver="1.2.29" src="https://code.angularjs.org/1.2.29/angular.js"></script>
    <script data-require="angular-animate" data-semver="1.2.29" src="https://code.angularjs.org/1.2.29/angular-animate.js"></script>
    <link href='./css/style.css' rel="stylesheet" type="text/css"></link>
    <script type="text/javascript" src="hello.js"></script>
</head>
<body>
<div ng-controller="TodoController">


    <div id="task-panel" class="showpanel panel">
        <div class="panel-heading">
            <i class="panel-title-icon fa fa-tasks"></i>
            <span class="panel-title">Мои задачи</span>
            <div class="panel-heading-controls">
                <button ng-click="toggle = !toggle" class="btn-panel">Добавить новую задачу</button>
                <button class="btn-panel" ng-click="showCompletedTasks(); viewStatus = 'completed'" >Показать выполненные</button>
                <button class="btn-panel" ng-click="showActiveTasks(); viewStatus = 'active'" >Показать активные</button>
                <button class="btn-panel" ng-click="showAllTasks(); viewStatus = 'all'" >Все задачи</button>
            </div>
        </div>
        <div class="panel-body">
            <div class="task" ng-repeat="task in tasks" >

                <input type="checkbox" id="{{task.id}}" value="{{task.id}}" ng-checked="selection.indexOf(task.id) > -1" ng-click="toggleSelection(task.id)">


                    <span ng-hide="eEditable" ng-dblclick=" editedItem = task; eEditable = 'true'" ng-mouseenter="hover(task)" ng-mouseleave="hover2()" >{{task.name}}
                        <button id="delbut" class="btn-panel" ng-show="showDeleteItem == task" ng-click="deleteTask(task.id)">Удалить</button></span>
                    <input ng-show="eEditable" ng-model="task.name" ng-blur="editTask(task)" ng-focus="task == editedItem"/>


            </div>
            <div id="addnw">
                <input ng-show="toggle" ng-model="taskNaming" ng-blur="addTask2()"/>
            </div>


        </div>
    </div>

</div>
</body>
</html>